/* first page */

:root {
    /* fonts */
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;

    /* color */
    --main-txt-color: #434455;
    --secondary-txt-cl: #2E2F42;
    --light-txt-cl: #F4F4FD;
    --focus-txt-btn: #404BBF;
    --body-cl: #FFFFFF;
    --btn-cl: #4d5ae5;
    /* others */
    --indent: 24px;
    --items: 3;
}

.section {
    padding-top: 120px;
}

body {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-txt-color);
    background-color: var(--body-cl);
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}


.hero-container {

    width: 1158px;
}

.header-link {
    font-family: var(--primary-font);
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-txt-cl);
    display: block;
    margin-left: 126px;
    margin-right: 76px;

}

.header-nav-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}

.header-adress-list {
    display: flex;
    gap: 40px;
}

.contacts {
    display: block;
    gap: 40px;
    color: var(--secondary-txt-cl);
    font-weight: 500;
    padding: 24px 0;
}

.header-nav {
    margin-right: auto;
    display: flex;
    align-items: center;
}





.header-link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    font-family: var(--primary-font);
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    margin-right: 76px;


}

.header-link:hover,
.header-link:focus {
    color: #404bbf;
}

.header-logo {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-txt-cl);
}


.btn {
    min-width: 69px;
    min-height: 48px;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--btn-cl);
    background-color: var(--light-txt-cl);

}

/* ???????? */
.btn-light {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: block;
    border: none;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
}

.btn:hover {
    color: #FFFFFF;
}

.btn:focus {
    color: #FFFFFF;
    background-color: var(--focus-txt-btn);
}

.btn-portfolio {
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;

}

.btn-portfolio:hover {
    border: 1px solid transparent;
}

.btn-portfolio:focus {
    border: 1px solid transparent;
}


.title {
    font-family: var(--primary-font);
    font-size: 36px;
    line-height: 1.11;
    color: var(--secondary-txt-cl);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;

}

.title-light {
    font-size: 56px;
    line-height: 1.07;
    color: #ffffff;
    max-width: 496px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px;
    font-weight: 700;
    letter-spacing: 0.02em;
}

.title-section {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--secondary-txt-cl);
    letter-spacing: 0.02em;
}

.hero {
    background: var(--secondary-txt-cl);
    padding: 188px 0;
}

.footer {
    background: var(--secondary-txt-cl);
}

.header-studio:hover,
.number:hover,
.number:focus,
.mail:hover,
.mail:focus,
.header-studio:focus,
.header-portfolio:hover,
.header-portfolio:focus,
.header-contacts:hover,
.header-contacts:focus {
    color: var(--focus-txt-btn);
}


.mail,
.number {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-txt-color);
}

.subtitle {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-txt-color);
}

.mail,
.number,
.decoration,
.header-studio,
.header-portfolio,
.header-contacts,
.header-link {
    text-decoration: none;
}

.footer-logo {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-txt-cl);
    width: 71px;
}



/* reset start */
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}


.link {
    text-decoration: none;
   
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    outline: 2px solid red;
    outline-offset: -2px;
}

.header-adress {
    font-style: normal;
}

.mail:focus {
    color: #404bbf;
}

.light {
    background-color: #4D5AE5;
    color: #ffffff;
}

.light:hover {
    background-color: #404BBF;
}

.aboutteam {
    background-color: #F4F4FD;

}

.aboutteam-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
}

.contacts:hover {
    color: #404bbf;
}

.contacts:focus {
    color: #404bbf;
}

.about-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 1128px;
    height: 104px;

}

.title-jobs {
    margin-bottom: 8px;
}

.title-section {

    width: 1128px;
    height: 40px;
    margin-bottom: 72px;
}

.about,
.aboutteam,
.aboutdo {
    padding: 120px 0;
}

.aboutdo {
    padding-top: 0;
}


.aboutdo-list {
    display: flex;
    gap: 24px;
}

.aboutdo-item {


    width: 360px;
    height: 300px;


}

.about-container {
    display: flex;


}

.subtitle-work {
    width: 264px;
    height: 104px;
}

.footer {
    padding: 100px 0;

}

.footer-link {
    display: inline-block;
    margin-bottom: 16px;
    margin-left: 0;
}

.footer-title {
    max-width: 264px;
    margin-left: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;

}

.team {
    width: 1158px;
}

.aboutteam-list {
    display: flex;
    gap: 24px;
}

.title-team {
    width: 1158px;
    height: 40px;
}

.title-teams {
    margin-bottom: 8px;
}

.aboutteam-img {
    width: 264px;
}

.title-teams,
.subtitle-team {
    text-align: center;
}

.projects {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;


}

/* card set */

.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
    row-gap: 48px;
}

.card-set-item {
    flex-basis: calc((100% - var(--indent) * var(--items) - 1) / var(--items));
    width: calc((100% - 48px) / 3);

}

.card-set-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.name {
    padding: 32px 16px;

}

.portfolio-projects {
    padding: 96px 0 120px;

}

.title-card {
    margin-bottom: 8px
}

.header-container {
    display: flex;
    align-items: center;
    height: 72px;
}



/* FIRST PAGE */


/* header */



/* main */



/* footer */




/* SECOND PAGE */


/* main */